<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.15.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/mapbox-gl-draw@0.3.7/dist/mapbox-gl-draw.css">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.15.0/mapbox-gl.js'></script>
    <script src='https://npmcdn.com/mapbox-gl-draw@0.3.7/dist/mapbox-gl-draw.js'></script>
  </head>
  <body>
  </body>
</html>