.initial {
  opacity: 0;
  transition: opacity 1.0s;
  pointer-events: auto;
}
.loaded {
  opacity: 1;
  pointer-events: auto;
}

.loader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
