.clickable {
  cursor: pointer;
}

.button {
  background-color: white;
  cursor: pointer;
  margin: 0px auto;
  margin-right: 5px;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #24475F;
}

.button:focus {
  outline: none;
}

.loader {
  margin-top: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999999999;
}

.credits {
  position: absolute;
  z-index: 998;
  left: 10px;
  bottom: 10px;
  border-radius: 15px;
  font-size: 10px;
  padding: 3px 10px;
  background: rgba(0,0,0,.5);
}

.credits a {
  color: white;
}