.container {
  margin: auto;
  max-width: 900px;
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

.loader {
  margin-top: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
