.center {
  position: absolute;
  width: 100%;
  text-align: center;
}

.app-header {
  opacity: 1;
  position: absolute;
  min-width: 220px;
  height: 40px;
  top: 0px;
  width: 100%;
  z-index: 3000;
  text-align: center;
  color: #F4C66C;
  background-image: url('../common/svg/Swello.png');
  background-repeat: no-repeat;
  background-position: 20px 3px;
}

.app-header-title {

  text-indent: -9999px;
  position: absolute;
  left: 35px;
  top: 3px;
  cursor: pointer;
  padding-left: 35px;
}

.app-header-button {
  border: none;
  background: none;
  height: 40px;
  fill: white;
  cursor: pointer;
}

.app-header-button:hover {
  background-color: #1168AD;
  transition: all 150ms ease-in;
}

.app-header-button:focus {
  outline: none;
}

.app-header-button:active svg {
  padding-top: 1px;
}

.app-header-button svg {
  fill: inherit;
}

@media only screen and
    (-webkit-min-device-pixel-ratio: 1.5) {
  .app-header {
    background-position: 15px 3px;
    background-size: 106px 31px;
    background-image: url('../common/svg/Swello2x.png');
  }
}
